.expenses{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);    
}
.expense-list{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.expense-list:not(:last-child){
    border-bottom: 1px solid #dee2e6;
}
.expense-list__date{
    padding: 4px;
    border-radius: 3px;
    margin-right: 20px;
    background-color: #eee;
    width: 90px;
    text-align: center;
}
.expense-list__date h2{
    margin: 10px 0 0;
}
.expense-list__price{
    margin-left: auto;
    background-color: #198754;
    color: #fff;
    padding: .375rem .75rem;
    border-radius: 3px;
}

.addExpense{
    max-width: 800px;
    background-color: #eee;
    margin: 0 auto;
    padding: 20px;
}